/*
  Icon Font: custom
*/

@font-face {
  font-family: "custom";
  src: url("./custom_0517ce560e2890488b315c196fd8c91e.eot");
  src: url("./custom_0517ce560e2890488b315c196fd8c91e.eot?#iefix") format("embedded-opentype"),
       url("./custom_0517ce560e2890488b315c196fd8c91e.woff2") format("woff2"),
       url("./custom_0517ce560e2890488b315c196fd8c91e.woff") format("woff"),
       url("./custom_0517ce560e2890488b315c196fd8c91e.ttf") format("truetype"),
       url("./custom_0517ce560e2890488b315c196fd8c91e.svg#custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "custom";
    src: url("./custom_0517ce560e2890488b315c196fd8c91e.svg#custom") format("svg");
  }
}

[data-custom-icon]:before { content: attr(data-icon); }

[data-custom-icon]:before,
.icon-perso-20632668:before, .icon-generic-20632668:before,
.icon-perso-20818590:before, .icon-generic-20818590:before,
.icon-perso-20818603:before, .icon-generic-20818603:before,
.icon-perso-20818630:before, .icon-generic-20818630:before,
.icon-perso-21174546:before, .icon-generic-21174546:before,
.icon-perso-21174588:before, .icon-generic-21174588:before,
.icon-perso-21174615:before, .icon-generic-21174615:before,
.icon-perso-21174635:before, .icon-generic-21174635:before,
.icon-perso-21174663:before, .icon-generic-21174663:before,
.icon-perso-21174685:before, .icon-generic-21174685:before,
.icon-perso-21174715:before, .icon-generic-21174715:before,
.icon-perso-21176472:before, .icon-generic-21176472:before,
.icon-perso-21328362:before, .icon-generic-21328362:before,
.icon-perso-21769286:before, .icon-generic-21769286:before,
.icon-perso-22047757:before, .icon-generic-22047757:before,
.icon-perso-22047770:before, .icon-generic-22047770:before,
.icon-perso-22047947:before, .icon-generic-22047947:before,
.icon-perso-22047976:before, .icon-generic-22047976:before,
.icon-perso-22048005:before, .icon-generic-22048005:before,
.icon-perso-22048069:before, .icon-generic-22048069:before,
.icon-perso-22048097:before, .icon-generic-22048097:before,
.icon-perso-22048109:before, .icon-generic-22048109:before,
.icon-perso-22048181:before, .icon-generic-22048181:before,
.icon-perso-22048214:before, .icon-generic-22048214:before,
.icon-perso-22048225:before, .icon-generic-22048225:before,
.icon-perso-22048238:before, .icon-generic-22048238:before,
.icon-perso-22048291:before, .icon-generic-22048291:before,
.icon-perso-22048383:before, .icon-generic-22048383:before,
.icon-perso-22231422:before, .icon-generic-22231422:before,
.icon-perso-22256934:before, .icon-generic-22256934:before,
.icon-perso-22256955:before, .icon-generic-22256955:before,
.icon-perso-22312758:before, .icon-generic-22312758:before,
.icon-perso-22312800:before, .icon-generic-22312800:before,
.icon-perso-22312837:before, .icon-generic-22312837:before,
.icon-perso-22312867:before, .icon-generic-22312867:before,
.icon-perso-22313065:before, .icon-generic-22313065:before,
.icon-perso-22404237:before, .icon-generic-22404237:before,
.icon-perso-22404259:before, .icon-generic-22404259:before,
.icon-perso-22404319:before, .icon-generic-22404319:before,
.icon-perso-22404323:before, .icon-generic-22404323:before,
.icon-perso-22404337:before, .icon-generic-22404337:before,
.icon-perso-22707084:before, .icon-generic-22707084:before,
.icon-perso-22974985:before, .icon-generic-22974985:before,
.icon-perso-22979798:before, .icon-generic-22979798:before,
.icon-perso-22979805:before, .icon-generic-22979805:before,
.icon-perso-22979920:before, .icon-generic-22979920:before,
.icon-perso-22979922:before, .icon-generic-22979922:before,
.icon-perso-22979951:before, .icon-generic-22979951:before,
.icon-perso-22980211:before, .icon-generic-22980211:before,
.icon-perso-22980295:before, .icon-generic-22980295:before,
.icon-perso-22980351:before, .icon-generic-22980351:before,
.icon-perso-22980392:before, .icon-generic-22980392:before,
.icon-perso-22982293:before, .icon-generic-22982293:before,
.icon-perso-22982348:before, .icon-generic-22982348:before,
.icon-perso-22984515:before, .icon-generic-22984515:before,
.icon-perso-24841724:before, .icon-generic-24841724:before,
.icon-perso-24841808:before, .icon-generic-24841808:before,
.icon-perso-24841941:before, .icon-generic-24841941:before,
.icon-perso-24841942:before, .icon-generic-24841942:before,
.icon-perso-24841949:before, .icon-generic-24841949:before,
.icon-perso-24901796:before, .icon-generic-24901796:before,
.icon-perso-24901834:before, .icon-generic-24901834:before,
.icon-perso-30281566:before, .icon-generic-30281566:before,
.icon-perso-33339404:before, .icon-generic-33339404:before,
.icon-perso-37207576:before, .icon-generic-37207576:before,
.icon-perso-37207586:before, .icon-generic-37207586:before {
  display: inline-block;
  font-family: "custom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-perso-20632668:before, .icon-generic-20632668:before { content: "\f100"; }
.icon-perso-20818590:before, .icon-generic-20818590:before { content: "\f101"; }
.icon-perso-20818603:before, .icon-generic-20818603:before { content: "\f102"; }
.icon-perso-20818630:before, .icon-generic-20818630:before { content: "\f103"; }
.icon-perso-21174546:before, .icon-generic-21174546:before { content: "\f104"; }
.icon-perso-21174588:before, .icon-generic-21174588:before { content: "\f105"; }
.icon-perso-21174615:before, .icon-generic-21174615:before { content: "\f106"; }
.icon-perso-21174635:before, .icon-generic-21174635:before { content: "\f107"; }
.icon-perso-21174663:before, .icon-generic-21174663:before { content: "\f108"; }
.icon-perso-21174685:before, .icon-generic-21174685:before { content: "\f109"; }
.icon-perso-21174715:before, .icon-generic-21174715:before { content: "\f10a"; }
.icon-perso-21176472:before, .icon-generic-21176472:before { content: "\f10b"; }
.icon-perso-21328362:before, .icon-generic-21328362:before { content: "\f10c"; }
.icon-perso-21769286:before, .icon-generic-21769286:before { content: "\f10d"; }
.icon-perso-22047757:before, .icon-generic-22047757:before { content: "\f10e"; }
.icon-perso-22047770:before, .icon-generic-22047770:before { content: "\f10f"; }
.icon-perso-22047947:before, .icon-generic-22047947:before { content: "\f110"; }
.icon-perso-22047976:before, .icon-generic-22047976:before { content: "\f111"; }
.icon-perso-22048005:before, .icon-generic-22048005:before { content: "\f112"; }
.icon-perso-22048069:before, .icon-generic-22048069:before { content: "\f113"; }
.icon-perso-22048097:before, .icon-generic-22048097:before { content: "\f114"; }
.icon-perso-22048109:before, .icon-generic-22048109:before { content: "\f115"; }
.icon-perso-22048181:before, .icon-generic-22048181:before { content: "\f116"; }
.icon-perso-22048214:before, .icon-generic-22048214:before { content: "\f117"; }
.icon-perso-22048225:before, .icon-generic-22048225:before { content: "\f118"; }
.icon-perso-22048238:before, .icon-generic-22048238:before { content: "\f119"; }
.icon-perso-22048291:before, .icon-generic-22048291:before { content: "\f11a"; }
.icon-perso-22048383:before, .icon-generic-22048383:before { content: "\f11b"; }
.icon-perso-22231422:before, .icon-generic-22231422:before { content: "\f11c"; }
.icon-perso-22256934:before, .icon-generic-22256934:before { content: "\f11d"; }
.icon-perso-22256955:before, .icon-generic-22256955:before { content: "\f11e"; }
.icon-perso-22312758:before, .icon-generic-22312758:before { content: "\f11f"; }
.icon-perso-22312800:before, .icon-generic-22312800:before { content: "\f120"; }
.icon-perso-22312837:before, .icon-generic-22312837:before { content: "\f121"; }
.icon-perso-22312867:before, .icon-generic-22312867:before { content: "\f122"; }
.icon-perso-22313065:before, .icon-generic-22313065:before { content: "\f123"; }
.icon-perso-22404237:before, .icon-generic-22404237:before { content: "\f124"; }
.icon-perso-22404259:before, .icon-generic-22404259:before { content: "\f125"; }
.icon-perso-22404319:before, .icon-generic-22404319:before { content: "\f126"; }
.icon-perso-22404323:before, .icon-generic-22404323:before { content: "\f127"; }
.icon-perso-22404337:before, .icon-generic-22404337:before { content: "\f128"; }
.icon-perso-22707084:before, .icon-generic-22707084:before { content: "\f129"; }
.icon-perso-22974985:before, .icon-generic-22974985:before { content: "\f12a"; }
.icon-perso-22979798:before, .icon-generic-22979798:before { content: "\f12b"; }
.icon-perso-22979805:before, .icon-generic-22979805:before { content: "\f12c"; }
.icon-perso-22979920:before, .icon-generic-22979920:before { content: "\f12d"; }
.icon-perso-22979922:before, .icon-generic-22979922:before { content: "\f12e"; }
.icon-perso-22979951:before, .icon-generic-22979951:before { content: "\f12f"; }
.icon-perso-22980211:before, .icon-generic-22980211:before { content: "\f130"; }
.icon-perso-22980295:before, .icon-generic-22980295:before { content: "\f131"; }
.icon-perso-22980351:before, .icon-generic-22980351:before { content: "\f132"; }
.icon-perso-22980392:before, .icon-generic-22980392:before { content: "\f133"; }
.icon-perso-22982293:before, .icon-generic-22982293:before { content: "\f134"; }
.icon-perso-22982348:before, .icon-generic-22982348:before { content: "\f135"; }
.icon-perso-22984515:before, .icon-generic-22984515:before { content: "\f136"; }
.icon-perso-24841724:before, .icon-generic-24841724:before { content: "\f137"; }
.icon-perso-24841808:before, .icon-generic-24841808:before { content: "\f138"; }
.icon-perso-24841941:before, .icon-generic-24841941:before { content: "\f139"; }
.icon-perso-24841942:before, .icon-generic-24841942:before { content: "\f13a"; }
.icon-perso-24841949:before, .icon-generic-24841949:before { content: "\f13b"; }
.icon-perso-24901796:before, .icon-generic-24901796:before { content: "\f13c"; }
.icon-perso-24901834:before, .icon-generic-24901834:before { content: "\f13d"; }
.icon-perso-30281566:before, .icon-generic-30281566:before { content: "\f13e"; }
.icon-perso-33339404:before, .icon-generic-33339404:before { content: "\f13f"; }
.icon-perso-37207576:before, .icon-generic-37207576:before { content: "\f140"; }
.icon-perso-37207586:before, .icon-generic-37207586:before { content: "\f141"; }
